:root {
    --mainWhite: #ffffff;
    --mainOrange: #e59341;
    --mainGrey: #d9d9d9;
    --mainDark: #222222;
}

body {
    background: var(--mainWhite);
    color: var(--mainDark);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

h1,h2,h3,h4,h5,h6, nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
    letter-spacing: 0.25rem !important;
    word-spacing: 10px;
}

.navbar {
    background-color: var(--mainOrange);
}

.text-orange {
    color: var(--mainOrange);
}

.cart-icon {
    cursor: pointer;
    color: var(--mainOrange);
    position: relative;
    right: 30px;
    bottom: 5px;
    height: 50px;
    width: 30px;
}

.default-background {
    min-height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    
}

.btn-yellow { 
    color: var(--mainOrange);
    border-color: var(var(--mainOrange)); 
}

.btn-yellow {
    background: var(--mainOrange);
    color: var(--mainDark);
}

.btn-contact-home {
    top:470px;
    right:50px
}

.btn-book-home {
    top:470px;
    left:20px
}

.btn-shop-home {
    top:470px;
    left:80px
}

.about-background {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.about {
    min-height: 28vh;
}

.gallery {
    min-height: 82vh;
}

.shop-background {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;

}

.logos {
    position: relative;
    left:1000px;
    bottom: 450px;
    padding: 10px;
}

.olaplex-img {
    position: relative;
    height:200px;
    width:400px
}
.oribe-img {
    position: relative;
    height:108px;
    width:300px;
    right:1px;
    top:49px
}
.unite-img {
    position: relative;
    height:300px;
    width:300px;
    right:1px;
    bottom: 45px
}

.products {
    height: 78vh;
    position: relative;
    overflow-y: scroll;
    
}
.product {
    height: 40vh;
    position: relative;
    
    word-wrap: break-word;

}
.product-img {
    width: 300px;
    height: 300px;
    border-style: groove;
    border-color: var(--mainOrange);
    border-width: 5px;
}

.brand {
    min-height: 12vh;
}


.reservation-background {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.booking {
    min-height: 16vh;
}
.stylist-background {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.contact-background {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.contact-page {
    min-height: 10vh;
}

.submit-btn {
    position: relative;
    left: 440px;
}

.footer {
    background-color: var(--mainOrange);
    
}

.container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--mainOrange);
  }
  
  .container:hover .overlay {
    opacity: .6;
  }
  
  .text {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }