:root {
    --mainWhite: #ffffff;
    --mainOrange: #e59341;
    --mainGrey: #d9d9d9;
    --mainDark: #222222;
}

body {
    background: var(--mainWhite);
    color: var(--mainDark);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

h1,h2,h3,h4,h5,h6, nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
    letter-spacing: 0.25rem !important;
    word-spacing: 10px;
}

.text-orange {
    color: var(--mainOrange);
}

.cart-icon {
    cursor: pointer;
    color: var(--mainOrange);
    position: relative;
    right: 30px;
    bottom: 5px;
    height: 50px;
    width: 30px;
}

.default-background {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    
}

.btn-yellow { 
    color: var(--mainOrange);
    border-color: var(var(--mainOrange)); 
}

.btn-yellow {
    background: var(--mainOrange);
    color: var(--mainDark);
}

.about-background {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.about {
    min-height: 70vh;
}

.shop-background {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.product-img {
    width: 600px;
    height: 600px;
}

.reservation-background {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.stylist-background {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.contact-background {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}


.footer {
    background-color: var(--mainOrange);
    
}