@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:ital,wght@0,600;0,700;1,700&display=swap');


:root {
    --mainWhite: #ffffff;
    --mainOrange: #e59341;
    --mainGrey: #d9d9d9;
    --mainDark: #222222;
}

body {
    background: var(--mainWhite);
    color: var(--mainDark);
    font-family: 'Josefin Slab', serif !important;
}

h1,h2,h3,h4,h5,h6, nav {
    font-family: 'Josefin Slab', serif !important;
    letter-spacing: 0.25rem !important;
    word-spacing: 10px;
}

.navbar {
    background-color: var(--mainOrange);
   
}


.nav-link {
    position: relative;
    left: 30px;
    width: 100%;
}

.text-orange {
    color: var(--mainOrange);
}

.cart-icon {
    cursor: pointer;
    color: var(--mainOrange);
    position: relative;
    right: 30px;
    bottom: 5px;
    height: 50px;
    width: 30px;
}

.default-background {
    min-height: 20vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    
    
}



.wallpaper-home-1 {
   
    
    
    height:10px;
    bottom:50px;
    
}

.wallpaper-home-2 {
    

    width: 1600px;
    position: relative;
    height:200px;
    bottom: 300px;

    
    
}

.btn-yellow { 
    color: var(--mainOrange);
    border-color: var(var(--mainOrange)); 
}

.btn-yellow {
    background: var(--mainOrange);
    color: var(--mainDark);
}

.home-menu {
  
  
    position: relative;
    height: 10px;
    bottom: 10px;
}

.home-btn {
    position: relative;
    left: 115px;
    bottom:220px;
    margin: 4px;
}

.home-desc {
    position: relative;
    bottom:190px;
    width:100%;
    font-size: larger;
    text-align: center;
}

.home-gallery {
    height: 395px;
    width: 100%;
}

.btn-contact-home {
    top:470px;
    right:50px
}

.btn-book-home {
    top:470px;
    left:90px
}

.btn-shop-home {
    top:470px;
    left:80px
}

.about-background {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.about {
    min-height: 28vh;
}

.about-text {
    position: relative;
    right: 100px;
    top: 115px;
}

.gallery {
    position: relative;
    height: 1124px;
    overflow: scroll;
    
}

.photobook {
    min-height: 0vh;
}

.shop-background {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;

}

.logos {
    position: relative;
    text-align: center;
    bottom: 0px;
    padding: 10px;
    min-height: 13vh;
    
}

.logo-header {
    position: relative;
    top:403px;
    left:70px;
    height:240px;
    width: 400px;
}



.products {
    height: 76vh;
    position: relative;
    bottom:60px;
    overflow: scroll;
    
   
}

.product {
    height: 25vh;
    position: relative;
    word-wrap: break-word;

}

.prod {
position: relative;
min-height: 30vh;
margin: 7px;
}
.product-img {
    width: 300px;
    height: 300px;
    border-style: groove;
    border-color: var(--mainOrange);
    border-width: 10px;
}

.product-title {
    position: relative;
    bottom: 36px;
    left: 118px
}

.btn-all {
    position: absolute;
    left:12px;
    bottom:30px;
    margin:15px
}

.brand {
    min-height: 12vh;
}


.reservation-background {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.booking {
    min-height: 16vh;
}

.stylist-background {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.contact-background {
    min-height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.contact-page {
    min-height: 7vh;
}

.submit-btn {
    position: relative;
    left: 654px;
}

.footer {
    background-color: var(--mainOrange);
    
}

    .footer-gallery {
        position: relative;
        top:150px
    }

.container {
    position: relative;
    width: 100%;
    left:115px;
    bottom:100px;    
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--mainOrange);
  }
  
  .container:hover .overlay {
    opacity: .9;
  }
  
  .text {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }